<div class="box">
  <mat-card>
    <mat-card-title>
      Sign In
    </mat-card-title>
    <mat-card-content>
      <form  [formGroup]="sign_in_form">
        <mat-form-field>
          <input matInput autofocus type="email" name="email" placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" name="password" placeholder="Password" formControlName="password">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="sign_in_form.invalid" (click)="sign_in()">Sign In</button>
      <button mat-raised-button color="accent" (click)="redirect_to_sign_up()">Sign Up</button>
    </mat-card-actions>
  </mat-card>
</div>