<div class="box">
  <mat-card>
    <mat-card-title>
      Sign Up
    </mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput autofocus type="email" name="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" name="password" placeholder="Password">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" name="password" placeholder="Password again">
        </mat-form-field>
        <mat-slide-toggle>Admin</mat-slide-toggle>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Confirm</button>
    </mat-card-actions>
  </mat-card>
</div>