<mat-toolbar class="fixed-header" color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/charts">
      <mat-icon aria-label="Flows Chart">
        bubble_chart
      </mat-icon>
      Cobweb
    </button>

    <button mat-button [matMenuTriggerFor]="menu">Administration</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/admin/applications">Applications</button>
      <button mat-menu-item routerLink="/admin/flows">Flows</button>
      <button mat-menu-item routerLink="/admin/technologies">Technologies</button>
      <button mat-menu-item routerLink="/admin/users">Users</button>
    </mat-menu>

    <span class="spacer"></span>

    <button mat-button (click)="sign_out()">
      <mat-icon aria-label="Flows Chart">
        exit_to_app
      </mat-icon>
      Sign Out
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>